header.header
    .header_main 
        .header_top
            .section_in
                .header_top_main 
                    .header_top__logo
                        a(href="/") 
                            img(src="i/logo.svg", alt="Logo")
                    .header_contacts_phone__mobile
                                    .header_contacts_phone_connect__mobile
                                        a(href="") 
                                            img(src="i/icons/phone_footer.svg", alt="")
                                            span +7 423 202 55 02
                                        .header_contacts_phone_icon__mobile
                                            a(href="")
                                                img(src="i/socials/whatsapp.svg", alt="")
                                    .header_contacts_phone_button__mobile
                                        button Заказать звонок
                    .header_top__search_mobile
                        button 
                            img(src="i/mobile/search.svg", alt="")
                    .header_top__location
                        img(src="i/icons/mark.svg", alt="Location")
                        p Магадан
                    .header_top__number
                        .header_top__number_button
                            a(href="") 
                                img(src="i/icons/phone.svg", alt="")
                                p +7 423 202 55 02
                        .header_top__number_icon
                            a(href="") 
                                img(src="i/socials/whatsapp.svg", alt="")
                    .header_top__cart
                        a(href="") 
                            img(src="i/icons/cart.svg", alt="")
                            p Корзина (10)
                    .header_top__account
                        a(href="") 
                            img(src="i/icons/account.svg", alt="")
                            p Личный кабинет
        .header_nav
            .section_in
                .header_nav__mobile
                    .header_nav__location__mobile
                        img(src="i/icons/mark.svg", alt="Location")
                        p Магадан
                    .header_nav__cart__mobile
                        a(href="") 
                            img(src="i/icons/cart.svg", alt="")
                            p (10)
                    .header_nav__account__mobile
                        a(href="") 
                            img(src="i/icons/account.svg", alt="")
                            p Войти
                    .header_nav__burger__mobile
                        span
                        span
                        span
                .header_nav_main 
                    .header_nav__title
                        p КАТАЛОГИ
                    .header_nav__catalog
                        ul.header_nav__catalog__list
                            each key in [{name:'Запчасти', link:'#'}, {name:'Агрегаты', link:'#'}, {name:'Ремонт', link:'#'}, {name:'Спецтехника', link:'#'}, {name:'Экспресс-доставка', link:'#'}, {name:'О компании', link:'#'}, {name:'Контакты', link:'#'}]
                                li.header_nav__catalog__item
                                    a(href=key.link)=key.name
                    button.header_nav__search
                        .header_nav__search_icon
                            img(src="i/icons/search.svg", alt="")