.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
	background-image: url(/i/footer_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@include bp($point_2) {
		min-height: 100%;
	}
}

.footer_main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 11rem 0;
	font-family: $font_rl;
}

.footer_top__list {
	display: flex;
	justify-content: space-between;
	gap: 18rem;
}

.footer_top_company__list, .footer_top_navigation__list, .footer_contacts__list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.footer_top_navigation__item a:hover, .footer_top_navigation__item a:hover {
	color: $lighteryellow;
}

.footer_contacts_phone {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.footer_contacts_phone_connect, .footer_contacts_phone_connect a {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.footer_contacts_phone_connect span {
	font-family: $font_rb;
	font-size: 2rem;
}

.footer_contacts_phone_connect img {
	width: 2rem;
	height: 2rem;
}

.footer_contacts_phone_icon img {
	width: 2.5rem;
	height: 2.5rem;
}

.footer_contacts_phone_button button {
	color: $darkyellow;
	font-family: $font_rb;
	text-decoration: underline;
}

.footer_contacts_address a {
	display: flex;
	gap: 1rem;
}

.footer_contacts_address img {
	width: 1.5rem;
    height: 2rem;
}

.footer_contacts_mail a {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: flex-end;
}

.footer_contacts_mail img {
	width: 2rem;
	height: 1.5rem;
}

.footer_copyright {
	text-align: center;
}