.header {
	position: fixed;
	top: 0;
	left: 0;
	// height: $header;
	width: 100%;
	will-change: transform;
	@include z-index(header);
}

.header_main {
	display: flex;
	flex-direction: column;
}

.header_top {
	background-color: $darkgrey;
}

.header_top_main {
	display: flex;
	justify-content: space-between;
	gap: 9rem;
	align-items: center;
	padding: 1.5rem 0;

	@include bp($point_2) {
		gap: 3rem;
		padding: 1rem 0;
	}
}

.header_top__logo {
	width: 14.3rem;
	height: 6.1rem;

	@include bp($point_2) {
		width: 9.2rem;
        height: 4.2rem;
	}
}


// HEADER - MOBILE

.header_contacts_phone__mobile {
	@include bp($point_2, $direction: min) {
		display: none;
	}
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_contacts_phone_connect__mobile {
	display: flex;
	gap: .6rem;
	align-items: center;
}

.header_contacts_phone_connect__mobile a {
	display: flex;
	gap: .6rem;
	align-items: center;
	font-size: 1.4rem;
	font-family: $font_rb;
}

.header_contacts_phone_connect__mobile img {
	width: 1.3rem;
	height: 1.3rem;
}

.header_contacts_phone_icon__mobile img {
	width: 2rem;
	height: 2rem;
}

.header_contacts_phone_button__mobile button {
	font-family: $font_rr;
	color: $darkyellow;
	text-decoration: underline;
	font-size: 1.4rem;
}

.header_top__search_mobile {
	@include bp($point_2, $direction: min) {
		display: none;
	}
	height: 2.7rem;
}

.header_nav__mobile {
	@include bp($point_2, $direction: min) {
		display: none;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.header_nav__location__mobile, .header_nav__cart__mobile a, .header_nav__account__mobile a {
	display: flex;
	gap: .7rem;
	align-items: center;
}

.header_nav__location__mobile img, .header_nav__cart__mobile img, .header_nav__account__mobile img {
	width: 1.5rem;
	height: 1.7rem;
}

.header_nav__location__mobile p, .header_nav__cart__mobile p, .header_nav__account__mobile p {
	font-family: $font_rr;
	font-size: 1.6rem;
	color: $darkgrey;
}

.header_nav__burger__mobile {
	position: relative;
	width: 1.7rem;
	height: 1.6rem;
	@include flex-center;
	span {
		position: absolute;
		width: 100%;
		display: block;
		border-bottom: 0.3rem solid $darkyellow;
		border-radius: 2rem;
		transition: all 0.3s ease-in-out;

		&:nth-child(1) {
			top: 0;
			left: 0;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
			width: 80%;
			right: 0;
		}
		&:nth-child(3) {
			bottom: 0;
			left: 0;
		}
	}

	&.active {
		span {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 49%;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				bottom: 36%;
			}
		}
	}
}

// HEADER - MOBILE

.header_top__location {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-family: $font_rl;
	@include bp($point_2) {
		display: none;
	}
}

.header_top__location img {
	width: 1.5rem;
	height: 2rem;
}

.header_top__number {
	display: flex;
	gap: 2.4rem;
	align-items: center;
	@include bp($point_2) {
		display: none;
	}
}

.header_top__number_button a {
	display: flex;
	gap: .8rem;
	align-items: center;
	padding: 1rem 2rem;
	background-color: $yellow;
	border-radius: 12rem;
}

.header_top__number_button img {
	width: 3.5rem;
	height: 3.5rem;
	background-color: $lightyellow;
	padding: .8rem;
	border-radius: 12rem;
}

.header_top__number_button p {
	font-family: $font_rb;
}

.header_top__number_icon {
	width: 3rem;
	height: 3rem;
}

.header_top__cart {
	@include bp($point_2) {
		display: none;
	}
}

.header_top__cart a {
	display: flex;
	gap: 1rem;
	font-family: $font_rl;
}

.header_top__cart img {
	width: 2rem;
	height: 2rem;
}

.header_top__account {
	@include bp($point_2) {
		display: none;
	}
}

.header_top__account a {
	display: flex;
	font-family: $font_rl;
	gap: 1rem;
	align-items: center;
}

.header_top__account img {
	width: 1.2rem;
	height: 1.6rem;
}

.header_nav {
	background-color: $white;
}

.header_nav_main {
	@include bp($point_2, $direction: max) {
		display: none;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $darkergrey;
	gap: 6rem;
}

.header_nav__title {
	padding: 1.9rem 3rem;
	background-color: $darkyellow;
	font-family: $font_rb;
}

.header_nav__catalog__list {
	display: flex;
	gap: 3rem;
	font-family: $font_rsb;
}

.header_nav__catalog__item a {
	color: $darkergrey;
}

.header_nav__catalog__item a:hover {
	color: $lighteryellow;
}

.header_nav__search {
	padding: 1.5rem;
	background-color: $darkyellow;
}

.header_nav__search img {
	width: 3rem;
	height: 3rem;
}

.header.fixed .header_top, .header.fixed .header_nav {
	background-color: rgb(85 85 85 / 33%);
    backdrop-filter: blur(1rem);
    transition: all 0.3s ease-in-out;
}

.header.fixed .header_nav__mobile p {
	color: $white;
}

.header.fixed .header_nav__catalog__item a {
	color: $white;
}

.header.fixed .header_nav__catalog__item a:hover {
	color: $darkyellow;
}