// HERO MOBILE

.hero_circle__mobile {
    @include bp($point_2, $direction: min) {
		display: none;
	}
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.hero_swiper {
    @include bp($point_2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0rem 6rem 0rem;
    }
}

// HERO MOBILE


.hero {
    position: relative;
    background-image: url(/i/hero/hero_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_circle {
    @include bp($point_2, $direction: max) {
		display: none;
	}
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    overflow: hidden;
}

.hero_main_slide {
    display: flex;
}

.hero_main_content {
    max-width: 73.2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero_main_slide_general {
    padding: 22.6rem 0;

    @include bp($point_2) {
        padding: 0;
    }
}

.hero_main_content__list {
    display: flex;
    gap: 5rem;

    @include bp($point_2) {
        flex-direction: column;
        gap: 1.6rem;
    }
}

.hero_main_content_title h2 {
    font-weight: 400;
    font-size: 7rem;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: $darkergrey;

    @include bp($point_2) {
        text-align: center;
        font-size: 4rem;
    }
}

.hero_main_slide {
    width: 100%!important;
}

.hero_main_image {
    position: absolute;
    width: 90rem;
    right: 0;
    top: -15%;

    @include bp($point_2) {
        position: relative;
        width: 100%;
    }
}

.hero_button-prev, .hero_button-next {
    position: relative;
    width: 4rem;
}

// .hero_pagination.swiper-pagination-horizontal{
//     position: absolute;
//     bottom: 13.1rem;
//     z-index: 10;
//     width: auto;
//     right: 39rem;
//     left: auto;
// }



.swiper-pagination-bullets {
    display: flex;
    gap: 2.5rem;
}

.swiper-pagination-bullet {
    width: 1.8rem;
    height: 1.8rem;
    background-color: $semigrey;
    opacity: 1;
    transition: .2s all ease-in-out;
    margin: 0!important;
}

.swiper-pagination-bullet-active {
    background-color: $darkyellow;
}

.hero_navigation {
    display: flex;
    align-items: center;
    gap: 2.7rem;
    position: absolute;
    bottom: 8rem;
    right: 36rem;

    @include bp($point_2) {
        position: relative;
        right: auto;
        bottom: auto;
    }
}