// QUESTION MOBLIE

.question_image__mobile {
    @include bp($point_2, $direction: min) {
        display: none;
    }
    position: absolute;
    top: 0;
    right: 0;
    width: 45rem;
    z-index: 1;
}

// QUESTION MOBLIE

.question {
    background-image: url(/i/question/question_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 0rem 0 0 30rem;

    @include bp($point_2) {
        border-radius: 0rem 0 0 20rem;
    }
}

.question_main {
    padding: 11rem 0rem 20rem 0rem;
    display: flex;

    @include bp($point_2) {
        padding: 45rem 0rem 9rem 0rem;
    }
}

.question_content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 75rem;
    z-index: 5;
}

.question_content_title h2 {
    font-size: 5.5rem;

    @include bp($point_2) {
        font-size: 3.5rem;
    }
}

.question_content_descr p{
    font-size: 2rem;
    line-height: 175%;
    font-family: $font_rr;

    @include bp($point_2) {
        font-size: 1.8rem;
        line-height: 194%;
    }
}

.question_content__list form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(38%, 1fr));
    gap: 3.4rem;

    @include bp($point_2) {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}

.question_content__item:nth-child(3) {
    @include bp($point_2) {
        order: 3;
    }
}

.question_content__item:last-child {
    display: flex;
    align-items: center;
}

.question_content__name input[type=text], .question_content__phone input[type=tel]{
    border-radius: 12rem;
    padding: 3.3rem 4rem;
    border: none;
    width: 100%;

    @include bp($point_2) {
        padding: 2rem 3.6rem;
    }
}

.question_content__name input[type=text]::placeholder, .question_content__phone input[type=tel]::placeholder {
    font-family: $font_rl;
    color: $darkergrey;
    line-height: 194%;
    font-size: 1.8rem;

    @include bp($point_2) {
        font-size: 1.6rem;
    }
}

.question_content__button button {
    width: 100%;
    padding: 3.3rem 3rem;

    @include bp($point_2) {
        padding: 2rem 3.6rem;
    }
}

.question_content__agreement {
    display: flex;
    gap: 2.5rem;
    position: relative;
}

.question_content__agreement {
	input {
		display: none;

		&:checked + label {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	label {
		position: relative;
		padding-left: 5rem;
		user-select: none;
        line-height: 139%;
        font-family: $font_rr;
        a {
            text-decoration: underline;
            color: $darkyellow;
            font-family: $font_rb;
        }
		cursor: pointer;
		@include bp($point_2) {
			font-size: 1.4rem;
			padding-left: 5rem;
            line-height: 179%;
		}
		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 3rem;
			height: 3rem;
            background-color: #fff;
			border-radius: 100%;
			content: "";

			@include bp($point_2) {
				width: 2.4rem;
				height: 2.4rem;
			}
		}

		&:after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
            background-image: url(/i/icons/check.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            left: 0.5rem;
            width: 2rem;
            height: 2rem;
			content: "";
			visibility: hidden;

			@include bp($point_2) {
                width: 1.8rem;
                height: 1.8rem;
                left: 0.3rem;
			}
		}
	}
}

.question_image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80rem;

    @include bp($point_2) {
        display: none;
    }
}