extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Главная страница'}
block content_block

	section.hero
			.hero_circle
				img(src="i/hero/hero_bg_circle.png", alt="")
			.hero_circle__mobile
				img(src="i/hero/hero_bg_circle_mobile.png", alt="")
			.hero_swiper.swiper
				.hero_main.swiper-wrapper
					-for(i = 0; i < 4; i++)
						.hero_main_slide.swiper-slide 
							.section_in 
								.hero_main_slide_general
									.hero_main_content 
										.hero_main_content_title
											h2 Поставка двигателей<br>для спецтехники
										.hero_main_content__items
											ul.hero_main_content__list
												-for(j = 0; j < 3; j++)
													+small_list({title:'Fectetuer', subtitle:'Fectetuer adipiscing elit. commodo ligula', icon: 'hero'})
									.hero_main_image
										img(src="i/hero/hero_slide1.png", alt="")
				.hero_navigation 
					.hero_button-prev.button-next
						img(src="i/icons/arrow_prev.svg", alt="")
					.hero_pagination
					.hero_button-next.button-next
						img(src="i/icons/arrow_next.svg", alt="")
	
	include blocks/brands
	+cards({title: 'Агрегаты', image: 'engine', availability: 'в наличии', cardtitle: 'Двигатель Shanghai (Pengpu) SC10E380Q5', producer: 'Shanghai', price: '573 100'})
	include blocks/about
	+cards({title: 'Оригинальные запчасти', image: 'engine', availability: 'в наличии', cardtitle: 'Двигатель Shanghai (Pengpu) SC10E380Q5', producer: 'Shanghai', price: '573 100'})
	include blocks/question
	+cards({title: 'Ремонт спецтехники', image: 'excavator', cardtitle: 'Название спецтехники'})