// CARDS MOBILE //

.cards_top .btn.top {
    display: none;
}

.cards_content_button__mobile {
    @include bp($point_2, $direction: min) {
        display: none;
    }
}

.cards_navigation {
    @include bp($point_2, $direction: min) {
        display: none;
    }
    display: flex;
    align-items: center;
    gap: 2.7rem;
}

// CARDS MOBILE //

.cards_main {
    padding: 12.6rem 0;
    
    @include bp($point_2) {
        padding: 6.5rem 0;
    }
}

.cards_top_title h2 {
    font-size: 5.5rem;
    color: $darkergrey;

    @include bp($point_2) {
        font-size: 3.5rem;
    }
}

.cards_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include bp($point_2) {
        justify-content: center;
    }
}

.cards_content {
    @include bp($point_2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
}

.cards_content__list {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)) !important;
    gap: 3.7rem !important;

    @include bp($point_2) {
        display: flex !important;
        grid-template-columns: unset !important;
        gap: 0 !important;
    }
}

.cards_content__item {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
}

.cards_content__item_inner {
    padding: 1.5rem 1.7rem 2.5rem 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cards_content__item_inner::before {
    position: absolute;
    content: "";
    background-image: url(/i/cards/background_gear.png);
    width: 10rem;
    height: 10rem;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 1rem;
}

.cards_content__item_availability {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cards_content__item_availability img {
    width: 1.8rem;
    height: 1.8rem;
    background-color: $darkyellow;
    padding: 0.3rem;
    border-radius: 1rem;
}

.cards_content__item_availability span {
    font-family: $font_rr;
    font-size: 1.8rem;
    color: $grey;

    @include bp($point_2) {
        font-size: 1.6rem;
    }
}

.cards_content__item_title h3 {
    font-size: 2rem;
    line-height: 150%;
    color: $darkergrey;
    font-family: $font_rr;

    @include bp($point_2) {
        font-size: 1.8rem;
    }
}

.cards_content__item_producer p {
    font-family: $font_rr;
    font-size: 1.8rem;
    color: $grey;

    @include bp($point_2) {
        font-size: 1.6rem;
    }
}

.cards_content__item_producer span {
    color: $darkyellow;
}

.cards_content__item_price p {
    font-family: $font_rb;
    color: $darkergrey;
    font-size: 2.5rem;

    @include bp($point_2) {
        font-size: 2.2rem;
    }
}

.cards_content__item_inner_other {
    padding: 1.5rem 1.7rem 6rem 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_content__item_inner_other::before {
    position: absolute;
    content: "";
    background-image: url(/i/cards/background_gear.png);
    width: 10rem;
    height: 10rem;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 1rem;
}

.cards_content__item_title_other {
    margin-bottom: 4rem;
}

.cards_content__item_title_other h3 {
    font-family: $font_rb;
    color: $darkergrey;
    font-size: 2.5rem;
    line-height: 120%;
}